<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <script src="/static/blog/js/popper.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link href="/static/blog/css/bootstrap.css" rel="stylesheet">
    <script src="/static/blog/js/jquery.js"></script>
    <script src="/static/blog/js/vue.js"></script>
    <script src="/static/blog/js/ceshi.js"></script>
</head>

<body>
</body>
<script src="/static/blog/js/bootstrap.js"></script>
</html>